# dependencies
node_modules/

# builds
build/
dist/
coverage/

# environment variables
.env*
!.env.example

# logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# editor folders
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# vite/cache
.vite/
.cache/