@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-display: "Plus Jakarta Sans", sans-serif;
  --color-agri-navy: #060d1a;
  --color-agri-navy-light: #0d1627;
  --color-agri-emerald: #10b981;
  --color-agri-emerald-dark: #047857;
  --color-agri-cyan: #06b6d4;
  --color-agri-amber: #f59e0b;
}

body {
  @apply bg-slate-50 text-slate-800 antialiased font-sans;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full hover:bg-slate-300;
}
